{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Liste des Utilisateurs{% endblock %}

{% block body %}
<section class="container my-3">
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Surnom</th>
                {# <th>Roles</th> #}
                {# <th>Password</th> #}
                <th>Email</th>
                <th>Avatar</th>
                <th>est_verifié</th>
                {# <th>ResetToken</th> #}
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td> #}
                <td>{{ user.username }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.email }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                {# <td>{{ user.resetToken }}</td> #}
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                    {# <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_admin') }}">Retour au dashboard</a>
</section>
    {# <a href="{{ path('app_admin_user_new') }}">Create new</a> #}
{% endblock %}
