{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Connexion
{% endblock %}

{% block body %}

	<section class="container mt-5 section-desktop" style="margin-bottom: 22rem;">
		<div class="row text-center" style="max-width: 700px; margin: 0 auto;">
					<h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
			<div class="col form-register p-5" style="border: solid 3px grey;">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes déjà connecté(e)
							<strong>{{ app.user.username }}</strong>,
							<a href="{{ path('app_logout') }}">Se Déconnecter</a>
						</div>
					{% endif %}

					<label for="inputUsername">Nom d'Utilisateur</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-4" autocomplete="username" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="btn btn-lg btn-primary d-block mt-3" type="submit"  style="margin:0 auto;">
						Connexion
					</button>
					<a href="{{ path('app_register') }}" class="btn btn-secondary d-block p-2" style="margin: 2rem auto; width: 50%;">M' inscrire</a>
					<a href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
