{{ form_start(form) }}
	<div class="col-4 my-2">
		<img src="{{ asset('assets/uploads/images/' ~ illustration.file) }}" class="img-fluid" alt="Illustration">
	</div>
    {{ form_widget(form) }}
    <button class="btn btn-primary my-2">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
