{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Admin!
{% endblock %}

{% block body %}

	<section class="container section-dashboard">
		<div>
			<h1>Bonjour
				{{ app.user.username }}
				!</h1>
		</div>
		<div>
			<a href="{{ path('app_admin_user_index') }}">Liste des Utilisateurs</a>
		</div>
		<div>
			<a href="{{ path('app_admin_trick_index') }}">Liste des Figures</a>
		</div>
		<div>
			<a href="{{ path('app_admin_category_index') }}">Liste des Categories</a>
		</div>
		<div>
			<a href="{{ path('app_admin_illustration_index') }}">Liste des illustrations</a>
		</div>
		<div>
			<a href="{{ path('app_admin_video_index') }}">Liste des vidéos</a>
		</div>
	</section>
{% endblock %}
