<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-light fixed-bottom bg-dark" style="max-width: 100vw;">
			<div class="container px-4 px-lg-5">
				<a class="navbar-brand hide-text" href="/"><i class="fa fa-home"></i><span> SnowTricks</span></a>
				<button class="navbar-toggler" type="button" style="font-size: 1.5rem;" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				{% if app.user %}
				<!-- Ajout de la balise <a> pour l'icône de déconnexion -->
					<a class="show-icon-disconnect text-white" href="{{ path('app_logout') }}" style="font-size: 1.5rem;">
						<i class="fa fa-sign-out"></i>
					</a>
					{% else %}
					 <!-- Ajout de la balise <a> pour l'icône de connexion -->
						<a class="show-icon-disconnect text-white" href="{{ path('app_login') }}" style="font-size: 1.5rem;">
							<i class="fa fa-sign-in"></i>
						</a>
					{% endif %}
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto py-4 py-lg-0">
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="#">A propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_contact') }}">Contact</a>
						</li>
						{% if app.user %}
							{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_admin_admin') }}">Mon Compte
									<small>(
										{{ app.user.username }}
										)</small>
								</a></li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_profil') }}">Mon Compte
									<small>(
										{{ app.user.username }}
										)</small>
								</a></li>
								{% endif %}
								<li class="nav-item nav-text-disconnect"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_logout') }}">Déconnexion</a></li>
							</li>
							
						{% else %}
							<li class="nav-item nav-text-disconnect">
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_login') }}">Connexion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_register') }}">Inscription</a>
							</li>
						{% endif %}
					</ul>


				</div>
			</div>
		</nav>