{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Figure{% endblock %}

{% block body %}
    <h1>Trick</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ trick.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trick.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ trick.slug }}</td>
            </tr>
            {% for illustration in trick.illustrations %}
            <tr>
                <th>Illustration</th>
                <td>{{ illustration.file }}</td>
            </tr>
            {% endfor %}
            {% if trick.videos %}
            <tr>
            {% for video in trick.videos %}
                <th>Video</th>
                {# <td class="d-flex"> #}
                    {# <td>{{ video.mediaLink|replace({'watch?v=': 'embed/'}) }}</td> #}
                    <td class="video-container">
                        <iframe width="300" height="200" src="{{ video.mediaLink|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                {# </td> #}
                {% endfor %}
            </tr>
            {% endif %}
            {% for category in trick.categories %}
            <tr>
                <th>Catégorie</th>
                <td>{{ category.name }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Created_at</th>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_trick_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_trick_edit', {'id': trick.id}) }}">Modifier</a>

    {{ include('admin/trick/_delete_form.html.twig') }}
{% endblock %}
