{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Figure{% endblock %}

{% block body %}
    <h1>Trick</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ trick.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trick.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ trick.slug }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ trick.illustration }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ trick.video }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_trick_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_trick_edit', {'id': trick.id}) }}">Modifier</a>

    {{ include('admin/trick/_delete_form.html.twig') }}
{% endblock %}
