{% extends 'base.html.twig' %}

{% block title %}Illustration{% endblock %}

{% block body %}
<section class="container section-desktop mt-5">
    <h1>Illustration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ illustration.id }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ illustration.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_illustration_edit', {'id': illustration.id}) }}" class="d-inline-block mb-3 btn btn-primary">Modifier</a>
    {{ include('admin/illustration/_delete_form.html.twig') }}

    <a href="{{ path('app_admin_illustration_index') }}" class="d-block mb-3">Retour</a>
</section>
{% endblock %}
